.App {
  display: grid;
  grid-template-rows: 70px auto;
  height: 100%;
}

  .navbar {
    background-color: rgb(247, 0, 255);
  }

  .content {
    display: grid;
    grid-template-columns: 380px 25fr 25fr 30fr;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar ingredientes ingredientes ingredientes"
      "sidebar ingredientes ingredientes ingredientes"
      "sidebar passoapasso passoapasso passoapasso"
      "sidebar passoapasso passoapasso passoapasso"; 
  }

    .sidebar{
      background-color: rgb(80, 255, 173);
      grid-area: sidebar
    }
    .ingredientes{
      background-color: rgb(80, 170, 255);
      grid-area: ingredientes
    }
    .passoapasso{
      background-color: rgb(243, 255, 80);
      grid-area: passoapasso
    }

    @media only screen and (max-width: 530px) {
      .painel{
        width: 100%;
      }
      .content {
        grid-template-columns: 1fr;
        grid-template-areas:
          "sidebar"
          "sidebar"
          "ingredientes"
          "ingredientes"
          "passoapasso"
          "passoapasso"; 
      }
    }